<div class="card border-success mb-3" style="max-width: 70%;">
    <div class="card-header bg-transparent border-success"> Seja bem vindo à lista de Clientes da Lupus - Segurança Eletrônica</div>
    <div class="card-body text-success">
      <p class="card-text">
          Segurança eletrônica pode ser conceituada como ‘o uso de equipamentos e sistemas de segurança para monitorar e proteger um local, bem ou pessoas.

          Pelo conceito, a segurança eletrônica serve para monitorar e vigiar por meio de equipamentos, como: câmeras, sensores de intrusão, sistemas e softwares.

          Antigamente o sistema de vigilância eletrônica que se popularizou foi o CFTV (circuito fechado de tv), que consiste na utilização de câmeras para captar e exibir as imagens de um circuito interno em um monitor.

          Conheça a segurança eletrônica do futuro. Leia o artigo aqui.

          Hoje os equipamentos e os sistemas se modernizaram, a principal evolução foi que o sistema se tornou digital e integrado, agora garante maior segurança e confiabilidade. 

          Quando surgiu a segurança eletrônica?
          Estima-se que a utilização de câmeras para monitoramento eletrônico foi utilizada pela primeira vez em Nova York pela polícia. Nessa época as imagens capturadas eram de baixa qualidade, sem os recursos disponíveis hoje as imagens eram em preto e branco, desprovidas da possibilidade de armazenamento ou de gravação.

          Foi na época um avanço tecnológico, o recurso da segurança eletrônica possibilitou que a polícia fizesse um monitoramento remoto o que otimizou a ação policial.

          Segurança eletrônica hoje
          Com o desenvolvimento em engenharia de softwares e a tecnologia empregada nos equipamentos, toda a estrutura de segurança eletrônica se modernizou.

          Entre os principais equipamentos de segurança, estão as câmeras e os alarmes. Hoje as câmeras possuem captação de imagens em alta resolução, captação com maior alcance, por infravermelho (para ambientes de baixa iluminação), etc.

          Os alarmes se tornaram integrados com câmeras e sistemas, passaram a ser endereçados e acompanhados por imagens monitoradas por uma central de segurança em momento de incidência de disparo.

          O monitoramento deixou de ser local para ser remoto, com isso as centrais de monitoramento mais confiáveis e seguras passaram a ser blindadas, possuir armazenagem de imagens em nuvem e no caso das portarias eletrônicas, não necessitam mais saber de informações pessoais e confidenciais de usuários para gerenciar acessos. 

          Conheça a evolução da portaria eletrônica. Leia o artigo aqui.

          A GSC dispõe das mais tecnológicas soluções em segurança citadas, presta serviços personalizados em segurança eletrônica para cada necessidade, para saber mais entre em contato.

          Quem precisa da segurança eletrônica?
          Os locais que estão sujeitos ao acesso de pessoas, e que necessitam de monitoramento, públicos e privados, utilizam a segurança eletrônica para combater e inibir ações criminosas.

          Casas, apartamentos, escritórios, prédios comerciais, comércio de rua, grandes lojas de varejo, etc. Para cada ambiente existe uma solução personalizada para atender as necessidades de segurança.

          5 dicas para quem mora sozinho. Leia o artigo aqui.

          Para grandes condomínios com muitas torres e espaços públicos abertos, são indicadas soluções de segurança eletrônica integradas com outras soluções locais para reforço estratégico da segurança.   
        </p>
    </div>
  </div>
